body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.jsonata-logo {
    height: 40px;
}

#app, .monaco-editor {
    height: 100%;
}

.errorLineDecoration {
	background: #ff4000;
	width: 5px !important;
	margin-left: 3px;
}